{% extends 'website/main.html' %}

{% block content %}



<div class="college-code container-fluid" style="padding-top: 5rem;">
	<div class="row">

		<h1 style="text-align: center; font-weight:900; font-family:sans-serif" class="text-light p-3">B-TECH</h1>

		<div class="col-md-3 col-12 p-2 d-flex justify-content-evenly">
			<div class="card text-center d-flex flex-column" style="width: 18rem;">
				<img src="https://github.com/BimalBabu217/PROJECT-/blob/main/6.jpg?raw=true" class="card-img-top" alt="..." height="150rem">
				<h5 class="card-title p-1">CSE</h5>
				<p class="card-text p-1">Computer Science Engineering is a course that deals with the design, implementation, and management of information systems of both software & hardware processes. A computer scientist specializes in the theory of computation and the design of computational systems.</p>
				<div class="card-footer mt-auto"><a href="{% url 'cse' %}" class="btn btn-warning">More Information</a></div>
			</div>
		</div>

		<div class="col-md-3 col-12 p-2 d-flex justify-content-evenly">
			<div class="card text-center d-flex flex-column" style="width: 18rem; ">
				<img src="https://github.com/BimalBabu217/PROJECT-/blob/main/5.jpeg?raw=true" class="card-img-top" alt="..." height="150rem">
				<h5 class="card-title p-1">CIVIL</h5>
				<p class="card-text p-1">Civil engineering is a professional engineering discipline that deals with the design, construction, and maintenance of the physical and naturally built environment, including public works such as roads, bridges, canals, dams, airports, sewage systems, pipelines, structural components of buildings, and railways.</p>
				<div class="card-footer mt-auto"><a href="{% url 'civil' %}" class="btn btn-warning">More Information</a></div>
			</div>
		</div>

		<div class="col-md-3 col-12 p-2 d-flex justify-content-evenly">
			<div class="card text-center d-flex flex-column" style="width: 18rem;  ">
				<img src="https://github.com/BimalBabu217/PROJECT-/blob/main/7.jpeg?raw=true" class="card-img-top" alt="..." height="150rem">
				<h5 class="card-title p-1">MECHANICAL ENGINEERING</h5>
				<p class="card-text p-2">Mechanical engineering is one of the broadest engineering disciplines. Mechanical engineers design, develop, build, and test. They deal with anything that moves, from components to machines to the human body.</p>
				<div class="card-footer mt-auto"><a href="http://127.0.0.1:5500/work/me.html" class="btn btn-warning">More Information</a></div>
			</div>
		</div>

		<div class="col-md-3 col-12 p-2 d-flex justify-content-evenly">
			<div class="card text-center d-flex flex-column" style="width: 18rem; ">
				<img src="https://github.com/BimalBabu217/PROJECT-/blob/main/9.jpeg?raw=true" class="card-img-top" alt="..." height="150rem">
				<h5 class="card-title p-1">EEE</h5>
				<p class="card-text p-3">Electrical engineering is an engineering discipline concerned with the study, design, and application of equipment, devices, and systems which use electricity, electronics, and electromagnetism.</p>
				<div class="card-footer mt-auto"><a href="http://127.0.0.1:5500/work/EEE.html" class="btn btn-warning">More Information</a></div>
			</div>
		</div>

	</div>
</div>

<div class="p-2"></div>


{% endblock %}