{% extends 'website/main.html' %}

{% block content %}

<style>
	.orange {
		color: orange;
	}
	.bg-orange {
		background-color: orange!important;
	}
	.dept_title {
		font-family: 'Exo 2', sans-serif;
		font-weight: 600;
		font-size: 35px;
	}
	.sec a {
		text-decoration: none;
		color: white!important;
	}
	body{
		background-color: #f8f9fa !important;
	}
</style>

<div class="pb-5 outer" style="padding-top: 4rem;">
	
	<!-- top small nav -->
	<div class="row bg-orange">
		<div class="col-12 pt-3 pb-1">
			<h6>Sree Narayana Guru Institute of Science and Technology</h6>
		</div>
	</div>

	<div class="row bg-light">
		<div class="col-12 pt-3">
			<center>
			<h1 class="dept_title pb-1">
				<span class="orange">Department</span> of <br>
				Computer Science <br>and <span class="orange">Engineering</span>
			</h1>
			<p class="justify px-lg-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
				Possimus vero quam voluptatem eius quidem ipsum vel nesciunt 
				ipsam, doloribus at est, odio magnam tenetur, itaque harum asperiores non laboriosam ullam?
				Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquid autem assumenda qui perferendis voluptatem temporibus amet beatae ab veniam odit harum deserunt, ex consectetur ut natus officiis, eius veritatis dolorum.
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae odit, reprehenderit dignissimos dolor sapiente fuga doloribus molestiae eligendi reiciendis sit. Quaerat inventore sapiente illum repellendus consequuntur neque obcaecati nisi nesciunt!
			</p>
			</center>
		</div>
	</div>
	<!-- section nav -->
	<div class="row">
		<ul class="nav nav-tabs bg-orange nav-fill">
			<li class="nav-item sec">
				<a class="nav-link rounded-0" aria-current="page" href="{% url 'd-cse' %}">News</a>
			</li>
			<li class="nav-item sec">
				<a class="nav-link rounded-0 bg-dark active" aria-current="page" href="">Events</a>
			</li>
			<li class="nav-item sec">
				<a class="nav-link rounded-0" aria-current="page" href="{% url 'cse-teachers' %}">Teachers</a>
			</li>
			<li class="nav-item sec">
				<a class="nav-link rounded-0" aria-current="page" href="#">Achievements</a>
			</li>
			<li class="nav-item sec">
				<a class="nav-link rounded-0" aria-current="page" href="#">Syllabus</a>
			</li>
		</ul>
	</div>
	
	<center>
		<div class="row pt-4">
			<div class="col-12">
				<h3>Ongoing Events</h3>
			</div>
		</div>
		<hr>


		<style>
		.img-max .img-fit {
				aspect-ratio: 1 / 1;
				object-fit: cover;
		}
		.card, .img-max {
				/* display: flex; */
				height: 100%;
				/* flex-direction: column; */
				text-align: left !important;
		}
		.card-body {
				display: flex;
				height: 55%;
				flex-direction: column;
		}
		.card-text {
				/* flex: 1; */
				flex-grow: 1;
		}
		@media (max-width: 767.98px) {
				.img-max .img-fit {
						aspect-ratio: 1 / 1;
						object-fit: cover;
				}
		}
		.img-max {
			overflow: hidden;
		}
		.img-max img {
			transition: all 0.3s ease;
		}
		.img-max:hover img {
			transform: scale(1.15);
		}
		</style>
		<div class="container">
			<div class="row">
			{% for event in events %}
				<div class="col-lg-4 col-12 pb-3">
					<div class="card mt-3 lg-w-75 h-100">
						<div class="img-max">
							<img src="{{event.poster}}" class="card-img-top img-fit img-fluid" alt="Event Poster">
						</div>
						<div class="card-body">
							<h5 class="card-title">{{event.title}}</h5>
							<p class="">{{event.description|linebreaks}}</p>
						</div>
						<div class="card-footer">
							<p class="text-body-secondary">Last date to register: {{event.last_date}}</p>
							<a href="{{event.google_form}}" class="btn btn-success">Register</a>
						</div>
					</div>
				</div>
			{% endfor %}
			</div>
		</div>
	</center>



</div>




{% endblock %}