{% extends 'website/main.html' %}

{% block content %}


<div class="pb-3" style="padding-top: 5rem;">
	<div class="row p-3">
		{% for department in dept %}
		<div class="col-lg-6 pt-3">
		<div class="card text-center">
			<div class="card-header">
				<h4 class="card-title">{{department.title}}</h4>
			</div>
			<div class="card-body">
				<img src="{{department.image}}" class="card-img-top" alt="..." height="500rem">
				<h5 class="card-text text-danger">{{department.description}}</h5>
				<!-- <a href="{{request.META.HTTP_REFERER}}" class="btn btn-primary">Go back</a> -->
			</div>
			<!-- <div class="card-footer text-body-secondary">
				<form action="" method="post" id="form1">
					{% csrf_token %}
					<button type="submit" form="form1" value="Submit" class="btn btn-danger">Submit</button>
				</form>
			</div> -->
		</div>
		</div>
		{% endfor %}
	</div>
</div>



{% endblock %}