{% extends 'website/main.html' %}

{% block content %}


<section>
	<div class="p-4"></div>
	<div class="p-3"></div>
	<h1 style="text-align: center; font-weight:900; font-family:sans-serif" class="text-light p-3">B-TECH ELECTRICAL AND ELECTRONICS ENGINEERING</h1>
	<p class="text-light ">NB:- For B-Tech, 03 seats for each branch in Fee Waiver Scheme.</p>
	<div class="table-responsive-md pb-3">
		
		<table class="table table-dark table-striped" style="width: 100%; ">
	
			<tr>
				<th>Course</th>
				<th>Management</th>
				<th>Merit</th>
				<th>Total</th>
				<th>Entrance Exam</th>
				<th>Eligibility</th>
				<th>Admission</th>
			</tr>

			<tr>
				<td>B-TECH EEE</td>
				<td>30</td>
				<td>30</td>
				<td>63</td>
				<td>y</td>
				<td>A pass in Plus Two with Mathematics, physics and Chemistry as Subjects.
					<li>
						<ol> PCM- 50% (Maths-50%, Physics & Chemistry-50% for Merit Seats)</ol>
						<ol> PCM- 45% (Maths-45%, Physics & Chemistry-45% for Management General Seats)</ol>
						<ol> PCM- 40% (Maths-40%, Physics & Chemistry-40% for Management OBC Seats)<ol>
					</li>
				</td>
				<td>
					Merit admission through CAP
					Management admission through college office.
					Entrance exam not required for NRK Students.
				</td>
			</tr>

		</table>
	</div>
</section>

{% endblock %}