{% extends 'website/main.html' %}

{% block content %}

<style>
	.orange {
		color: orange;
	}
	.bg-orange {
		background-color: orange!important;
	}
	.dept_title {
		font-family: 'Exo 2', sans-serif;
		font-weight: 600;
		font-size: 35px;
	}
	.sec a {
		text-decoration: none;
		color: white!important;
	}
	body{
		background-color: #f8f9fa !important;
	}
</style>

<div class="pb-5 outer" style="padding-top: 4rem;">
	
	<!-- top small nav -->
	<div class="row bg-orange">
		<div class="col-12 pt-3 pb-1">
			<h6>Sree Narayana Guru Institute of Science and Technology</h6>
		</div>
	</div>

	<div class="row bg-light pb-3">
		<div class="col-12 pt-3">
			<center>
			<h1 class="dept_title pb-1">
				<span class="orange">Department</span> of <br>
				Electrical and Electronics <br><span class="orange">Engineering</span>
			</h1>
			<p class="justify px-lg-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
				Possimus vero quam voluptatem eius quidem ipsum vel nesciunt 
				ipsam, doloribus at est, odio magnam tenetur, itaque harum asperiores non laboriosam ullam?
				Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquid autem assumenda qui perferendis voluptatem temporibus amet beatae ab veniam odit harum deserunt, ex consectetur ut natus officiis, eius veritatis dolorum.
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae odit, reprehenderit dignissimos dolor sapiente fuga doloribus molestiae eligendi reiciendis sit. Quaerat inventore sapiente illum repellendus consequuntur neque obcaecati nisi nesciunt!
			</p>
			</center>
		</div>
	</div>
	<!-- section nav -->
	<div class="row">
		<div class="col-12">
			<ul class="nav nav-tabs bg-orange nav-fill">
				<li class="nav-item sec dark-hover">
					<a class="nav-link rounded-0" aria-current="page" href="{% url 'd-ee' %}">News</a>
				</li>
				<li class="nav-item sec dark-hover">
					<a class="nav-link rounded-0" aria-current="page" href="{% url 'eee-events' %}">Events</a>
				</li>
				<li class="nav-item sec dark-hover">
					<a class="nav-link rounded-0" aria-current="page" href="{% url 'eee-teachers' %}">Teachers</a>
				</li>
				<li class="nav-item sec dark-hover">
					<a class="nav-link rounded-0 bg-dark active" aria-current="page" href="">Achievements</a>
				</li>
			</ul>
		</div>
	</div>
	
	<center>
		<div class="row pt-4">
			<div class="col-12">
				<h3>Achievements</h3>
			</div>
		</div>
		<hr>
	</center>


		<style>
		.img-max .img-fit {
				aspect-ratio: 16 / 9;
				object-fit: cover;
		}
		.card, .img-max {
				/* display: flex; */
				height: 100%;
				/* flex-direction: column; */
				text-align: left !important;
		}
		.card-body {
				display: flex;
				height: 55%;
				flex-direction: column;
		}
		.card-text {
				/* flex: 1; */
				flex-grow: 1;
		}
		@media (max-width: 767.98px) {
				.img-max .img-fit {
						aspect-ratio: 1.45 / 1;
						object-fit: cover;
				}
		}
		.img-max {
			overflow: hidden;
		}
		.img-max img {
			transition: all 0.3s ease;
		}
		.img-max:hover img {
			transform: scale(1.15);
		}
		</style>
		<div class="container">
			<div class="row g-3">
			{% for item in achievements %}
				<div class="col-lg-6 col-12">
					<div class="card mt-3 lg-w-75 h-100">
						<div class="img-max">
							<img src="{{item.image}}" class="card-img-top img-fit img-fluid" alt="">
						</div>
						<div class="card-body">
							<h5 class="card-title">{{item.title}}</h5>
							<p class="">{{item.description|linebreaks}}</p>
						</div>
						<div class="card-footer">
							<p class="text-body-secondary">Posted on: {{item.created|date}}</p>
						</div>
					</div>
				</div>
			{% endfor %}
			</div>
		</div>



</div>




{% endblock %}