<!-- footer -->
<div class="row bg-dark text-light pt-5 pb-4 footer">
			
	<div class="col-sm-6 col-md-4 col-lg-5">
		<h3 class="ms-lg-5">SNGIST</h3>
		<p class="text-justify ms-lg-5">SNGIST was established in the year 2003 by Guru Deva Trust as part 
			of its vision to create centers of excellence in higher learning. The college has excellent 
			pool of faculty members with academic and research experience.</p>
	</div>
	
	<div class="col-sm-3 col-md-4 col-lg-4">
		<h3 class="ms-lg-2">Our Vision</h3>
		<p class="text-justify ms-lg-2">To ensure a holistic transformation of students into professionals 
			who will be the creative technocrats and corporate leaders with social responsibility made 
			possible through an educational system that builds competence, confidence and compassion.</p>
	</div>

	<div class="col-sm-3 col-md-4 col-lg-2">
		<div class="footer-address">
			<h3 class="ms-lg-3">How to reach us</h3>
			<ul class="address ms-lg-3">
				<div class="row">
					<div class="col-2">
						<i class="bi bi-geo-alt-fill"></i>
					</div>
					<div class="col-10">
						<p>
							Mannam, Manjali (P. O.)<br>
							North Paravur, Ernakulam <br>
							Kerala, India - 683520
						</p>
					</div>
				</div>
				<div class="row">
					<div class="col-2">
						<i class="bi bi-telephone-fill"></i>
					</div>
					<div class="col-10">
						<p>+91 484 2887000</p>
					</div>
				</div>
				<div class="row">
					<div class="col-2">
						<i class="bi bi-telephone-fill"></i>
					</div>
					<div class="col-10">
						<p>+91 484 2445252</p>
					</div>
				</div>
			</ul>
		</div>
	</div>

</div>

<div class="row black text-light footer">
	<div class="col-6">
		<p class="pt-1 ms-lg-5">
			© Copyright 2023 SNGIST | All rights reserved
		</p>
	</div>
	<div class="col-6 text-end">
		<p class="pt-1 me-lg-5">
			<a href="" class="white">MANDATORY DISCLOSURE</a>
		</p>
	</div>
</div>