{% extends 'grievance/main.html' %}

{% block content %}

<div class="" style="padding-top: 10rem;">
<center>
	<div class="card text-center w-75">
		<div class="card-header">
			<h4 class="card-title">{{obj}}</h4>
		</div>
		<div class="card-body">
			<h5 class="card-text text-danger">Are you sure you want to delete this grievance?</h5>
			<a href="{{request.META.HTTP_REFERER}}" class="btn btn-primary">Go back</a>
		</div>
		<div class="card-footer text-body-secondary">
			<form action="" method="post" id="form1">
				{% csrf_token %}
				<button type="submit" form="form1" value="Submit" class="btn btn-danger">Submit</button>
			</form>
		</div>
	</div>
</center>
</div>

{% endblock %}