{% extends 'grievance/main.html' %}

{% block content %}


<div class="" style="padding-top: 10rem;">
	<center>
		<div class="card text-center w-75">
			<div class="card-header">
				<h1 class="card-title">{{room.name}}</h1>
			</div>
			<div class="card-body">
				<h5 class="card-text text-danger">{{room.description}}</h5>
			</div>
			<div class="card-footer text-body-secondary">
				<a href="{{request.META.HTTP_REFERER}}" class="btn btn-primary">Go back</a>
			</div>
			{% if request.user.is_superuser %}
			<div class="card-footer text-body-secondary">
				<a href="{% url 'resolved' room.id %}" class="btn btn-success">Mark as resolved</a>
			</div>
			{% endif %}
			{% if request.user == room.host %}
			<div class="card-footer text-body-secondary">
				<a href="{% url 'reopen' room.id %}" class="btn btn-danger">Re-open</a>
			</div>
			{% endif %}
		</div>
	</center>
</div>


{% endblock %}
